@import "../../../utils/vars";

.header_and_nav {
    @include borderBox;
    width: 100%;
    @include displayFlexColumn;
    background-color: $black;
    .header {
        @include displayFlexRow;
        justify-content: space-around;
        font-size: 14px;
        color: $gray;

        &_image {
            margin: 15px auto 5px;
            width: 120px;
        }

        &_item {
            flex-grow: 1;
            width: 300px;
            text-align: center;
            text-decoration: none;
            color: $gray;
            margin: auto 0;
            font-size: 16px;
            font-weight: 500;
            @include transitDuration(0.2s);
            > i {
                font-size: 18px;
                margin: 8px;
            }
            &:hover {
                color: white;
            }
        }
    }

    .nav {
        @include displayFlexRow;
        font-size: 20px;
        width: 80%;
        margin: 10px auto 0;
        &_item {
            text-decoration: none;
            @include borderBlack;
            color: white;
            border-radius: 10px 10px 0 0;
            text-align: center;
            width: 25%;
            padding: 5px;
            @include transitDuration(0.4s);
            &:hover {
                @include hoverBlackToWhite;
                border-bottom-color: white;
            }
        }
    }
}

.active {
    color: black !important;
    background: white;
    border-bottom-color: white !important;
}
